html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    background: green;
}

.container {
    background: purple;
}

.container > aside {
    background: red;
    width: 150px;
    height: 100vh;
}