@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #640fee5b;
    background-image: url('../images/bg.svg');
    background-size: cover; 
    background-position: center; 
    width: 100vw;
    height: 100vh;
}

.quadrologin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    width: 600px;
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

}

.imagem {
    background-color: blue;
    background-image: url('../images/subbg.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

.inputs {
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}

.formulario {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login, #senha {
    border-radius: 10px;
    background-color: #0000004f;
    margin: 10px;
    font-size: 16px;
    width: 300px;
    height: 28px;
    border-style: solid;
    border-color: #7F8C8D;
    border-width: 3px;
    font-family: Poppins;
    color: #fff;
}

#login::placeholder {
    color: #fff; 
}

#senha::placeholder {
    color: #fff; 
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding-left: 30px; 
}

#login-icon::before {
    content: "\e7fd";
    font-family: 'Material Symbols Rounded';
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
    color: transparent; 
    font-size: 22px;
    width: 22px;
    height: 22px;
    background-image: linear-gradient(to bottom right, #01F0FF, #975AE8); 
    -webkit-background-clip: text; 
    background-clip: text; 
}

#senha-icon::before {
    content: "\e897";
    font-family: 'Material Symbols Rounded';
    position: absolute;
    left: 20px;
    top: 45%;
    transform: translateY(-50%);
    color: transparent; 
    font-size: 22px;
    width: 22px;
    height: 22px;
    background-image: linear-gradient(to bottom right, #01F0FF, #975AE8); 
    -webkit-background-clip: text; 
    background-clip: text; 
}

.separador {
    display: flex;
    background-color: transparent;
    margin-top: -20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}