:root {
 --primary: #299c80;
 --secondary: #52289c;
 --third: #9c4428;
 --primary-light: #8adaca;
 --text-primary: #f5f5f5;
 --text-second: #e2e2e2;
 --text-dark: #a3a3a3;
 --text-black: #111111;
 --bg-default: #272727;
 --bg-second: #2a473f;
 --bg-darker-blue: #051627;
 --bg-header: #1a1a1a;
 --bg-dark: #2c2c2c;
 --bg-dark-light: #383838;
 --bg-dark-light-hover: #494949;
}

* {
 margin: 0;
 padding: 0;
 font-family: "Montserrat", sans-serif;
 color: var(--text-second);
}

body {
 background-color: var(--bg-default);
 color: var(--text-second);

 text-align: left;
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
 color: var(--primary-light);
 background-color: var(--bg-darker-blue);
 padding: 0.25rem;
 border-radius: 0.125rem;
 font-size: 1rem;
}

.section-title {
 margin-bottom: 1rem;
 font-size: 1.5rem;
 font-weight: 600;
 color: var(--text-primary);
 background-color: var(--secondary);
 padding: 0.5rem 1rem;
 border-radius: 0.5rem;
}

button {
 background-color: var(--primary);
 border: none;
 outline: none;
 padding: 0.5rem 1rem;
 border-radius: 4px;
 color: var(--text-primary);
 font-weight: 600;
 cursor: pointer;
}

input {
 border: 1px solid var(--text-dark);
 border-radius: 0.25rem;
 font-size: 1rem;
 padding: 0.25rem 0.5rem;
 outline: none;
 background: var(--bg-dark-light);
 color: var(--text-primary);
}

input:focus {
 background: var(--bg-dark);
}

#page-content {
 padding: 1rem 2rem;
}

ul {
 margin-left: 1rem;
}

li {
 margin-bottom: 0.25rem;
}

.second-title {
 font-size: 1.25rem;
 padding-bottom: 0.75rem;
 color: var(--text-primary);
}

.caption {
 font-size: 1rem;
 padding-bottom: 0.75rem;
}

.double-button-wrapper {
 display: grid;
 grid-template-columns: auto auto;
 gap: 0.5rem;
 margin-top: 1rem;
}

.mb-1 {
 margin-bottom: 0.5rem;
}

.mb-2 {
 margin-bottom: 1rem;
}
