html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
            "header header header"
            "sidebar content content";
    grid-template-rows: 90px 50%;
    grid-template-columns: 1fr 8fr;
}

.header {
    background-color: aqua;
    grid-area: header;
}

.sidebar {
    background-color: yellowgreen;
    grid-area: sidebar;
    height: 100vh;
}

.content {
    background-color: violet;
    grid-area: content;
    height: 100vh;
}

.grid-item {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}